# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project-specific ignores
idm_vton/
input/*
!input/.gitkeep
output/*
!output/.gitkeep
